@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.alert,.fixedAlert{
    top: 10px;
    right: 10px;
    animation: slideInRight 0.5s ease-out;
    z-index: 999; /* Z-index alto para que esté por encima de otros elementos */
}
.alert{
    position: absolute;
}
.fixedAlert{
    position: fixed;
}

.alert .btn-close, .fixedAlert .btn-close{
    box-shadow: none !important; 
    -webkit-box-shadow: none !important; /* Eliminar el contorno azul en Webkit (Chrome, Safari) */
    -moz-box-shadow: none !important;
}