.page {
    flex-direction: column;
    padding: 10px;
  }
  
  .section {
    margin: 10px;
    padding: 10px;
    flex-grow: 1;
  }
  
  .title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .text {
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .tableHeader {
    background-color: #e0e0e0;
    font-size: 12px;
    font-weight: bold;
  }
  
  .tableRow {
    flex-direction: row;
    border-bottom-width: 1px;
    align-items: center;
    height: 24px;
    font-style: italic;
  }
  
  .tableCell {
    margin: 5px;
    font-size: 10px;
  }
  