/*
NO ALTERAR

*/

/*cuadro de formulario en general*/
.Form_Gestion{
    background-Color: #343B39;
    color:#ede8da;
    border-Radius: 50px;
    padding: 30px; 
    margin: 30px;
    font-family: "Amatic SC", sans-serif;
    box-shadow: 0px 0px 0px 10px #ABC7BF!important;
}
    /*para nombre email y password*/
    #formNombre,#formCorreo,#formContra,#formClienteId,#formEstado,#formDireccion,.formProducto,.formCantidad,#formOrdenId{
        margin: 15px;
        width: 95%;
        align-items: center;
    }
        /*para los labels de nombre, email y password*/
        #lblNombre,#lblEmail,#lblPassword,#lblClienteId,#lblEstado,#lblDireccion,#lblIDProducto,#lblCantidadProducto,#lblOrdenId{
            width:auto;
        }
        /*para las cajas input*/
        .Control_txt{
            border-color: #ede8da;
            color: #ede8da;
            background-color: #171A19;
            font-family: 'Roboto', sans-serif;
            transition: background-color, border-color 0.3s;
        }
        .Control_txt::placeholder{
            color:#837a63;
        }
        .Control_txt:active,
        .Control_txt:focus {
            border-color: #ede8da;
            background-color: #171A19;
            color:#ede8da;
            box-shadow: 0 0 10px #ede8da; 
        }
        /*para controles de decremento e incremento*/
        
    /*para divs con mas de 1 boton*/
    div.Cinta_Form_btn{
        display: flex; 
        margin: 30px 0px 0px 0px;
    }
        /*para el boton*/
        Button.Form_btn{
            border-color: #ede8da!important;
            background-color: #353535!important;
            color: #ede8da !important;
            transition: background-color 0.3s ease!important;
            font-size: 30px!important;
            margin: 15px;
        }
        Button.Form_btn:hover {
            background-color: #000000 !important;
        }

        /*para botomes dentro de cinta*/
        /*style={{ margin: '0 auto' }}*/
        div.Cinta_Form_btn{
            justify-content: center;
        }