.FormInfo{
    font-family: "Urbanist", sans-serif!important;
    display: flex;
    flex-direction: column;
    margin-top:20px;
    margin-bottom: 20px;
    width: 90%!important;
    min-height: 600px;
    height:auto;
    margin-left: 2%;
    margin-right: 8%;
    border: solid 1px #E8E8E8;
    padding:20px;
    gap: 5px;
    color:#88525B;
}
.GroupForm{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.lblForm{
    font-size: 21px;
}
.SubGroup{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.btnEditar,.btnCambiarContrase単a,.btnCancelar{/*boton*/
    border-radius: 3px;
    font-weight: 400;
    border-color: #752728;
    color:#752728;
    background-color: white;
    transition: background-color 0.3s ease;
}

.btnCambiarContrase単a{
    align-self: flex-end!important;
}

.btnEditar:hover,.btnCambiarContrase単a:hover, .btnCancelar:hover{
    background-color: #752728;
    border-color: #752728;
    color: white!important;
}

.btnEditar:active,.btnCambiarContrase単a:active, .btnCancelar:active{
    background-color: #6F2A2D!important;
    border-color: #6F2A2D!important;
}

.txtDireccion,.txtTelefono{
    border-radius: 0;
    font-size: 15px;
    color: #5E3F44!important;
    transition: border 0.3s !important;
    outline: none!important;
}

.txtDireccion::placeholder,.txtTelefono::placeholder{
    color:#522A2C;
    font-style: italic;
}

.txtDireccion:focus,.txtTelefono:focus{
    outline: none!important;
    border-color: #752728;
    -webkit-box-shadow: none !important; /* Eliminar el contorno azul en Webkit (Chrome, Safari) */
    -moz-box-shadow: none !important; /* Eliminar el contorno azul en Firefox */
    box-shadow: none !important; 
}