/* En Login.css */


.Contenedor-Login{
    font-family: "Amatic SC",sans-serif;
    display:flex;
    align-items: center!important;
    justify-items: center!important;
    width: 100%;
}
    .img{
        
        width: 40%;
        height: 50%;
    }
    .login-form{
        background-color: rgba(0, 0, 0, 0.766);
        border-radius: 10px;
        padding: 35px;
        box-shadow: 0px 0px 10px 0px rgba(252, 252, 252, 0);
        color:rgb(237, 232, 218) !important;
    }

        .title {
            font-weight: bolder;
            font-size: 2em;
            letter-spacing: 1px;
        }
        @media (max-width: 576px) {
            .form-content {
                padding: 10px;
            }
        }

            /* Ajustes de estilo para Form.Label */
            .form-label {/*para labels de correo y contrasena*/
                font-size: 1.5em; /* Aumentar el tamaño de la fuente */
                text-align: left; /* Alinear al extremo izquierdo */
                width: 100%; /* Ocupar todo el ancho disponible */
                display: block; /* Mostrar como un bloque para ocupar toda la línea */
            }
            
            /*ajustes para el text box*/
            .Ingresa-correo-txtbox,.Ingresa-contra-txtbox{
                border-color: #ede8da;
                color: #ede8da;
                background-color: #171A19;
                font-family: 'Roboto', sans-serif;
                transition: background-color, border-color 0.3s;
                font-size: 15px;
            }
            .Ingresa-correo-txtbox::placeholder,.Ingresa-contra-txtbox::placeholder{
                color:#837a63;
            }
            .Ingresa-correo-txtbox:active,
            .Ingresa-correo-txtbox:focus,.Ingresa-contra-txtbox:active,.Ingresa-contra-txtbox:focus{
                border-color: #ede8da;
                background-color: #171A19;
                color:#ede8da;
                box-shadow: 0 0 10px #ede8da; 
            }

            .mb-3.w-100{/*boton*/
                background-color: #A8C3BB;
                border-color: #1B2A20;
                font-weight: bold;
            }

        a.Olvidar-contra-link-info{
            color:#A8C3BB;
        }

        a.registrarse-link-info{
            color:#A8C3BB;
        }