body {
  text-align: center;
  /*background-image: url(https://previews.123rf.com/images/eperceptions/eperceptions0802/eperceptions080200014/2482904-cierre-de-crochet-patr%C3%B3n-de-textura-para-su-uso-como-antecedentes-o-elementos-de-dise%C3%B1o.jpg);*/
  display: flex!important;
  flex-direction: column;
  justify-content: center;
}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/