body {
  text-align: center;
  /*background-image: url(https://previews.123rf.com/images/eperceptions/eperceptions0802/eperceptions080200014/2482904-cierre-de-crochet-patr%C3%B3n-de-textura-para-su-uso-como-antecedentes-o-elementos-de-dise%C3%B1o.jpg);*/
  display: flex!important;
  flex-direction: column;
  justify-content: center;
}